<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Tadpole Modern Image Formats Configuration</title>
        <input-field type="bool">
            <name>useModernImageFormatsInFrontends</name>
            <label>Activate to use modern image formats in storefront.</label>
            <label lang="de-DE">Aktivieren um moderne Bildformate im storefront zu verwenden.</label>
            <defaultValue>false</defaultValue>
        </input-field>
    </card>
</config>